.env
.env.*
!.env.example
/vendor
/node_modules
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/database/database.sqlite
.git
.gitignore
.phpunit.result.cache
tests
